@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arial Rounded';
  src: url('./font/2-ARIAL-ROUNDED-MT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
